
.vs/Assignment 1/v16/.suo

*.ipch

*.db

.vs/ICG_A1/v16/.suo

Build/bin/x64/Debug/Assignment 1.exe

*.log

*.tlog

*.txt

*.idb

*.pdb

Build/obj/x64/Debug/MainScene.obj

Build/obj/x64/Debug/main.obj

Build/bin/x64/Debug/Assignment 1.lib

Build/bin/x64/Debug/Assignment 1.ilk

Build/bin/x64/Debug/Assignment 1.exp

Assignment 1.vcxproj.user
